:root {
    --main-colors--text-color: #2b2b2b;
    --gradient-color-1: #61a6f2;
    --gradient-color-2: #8f6fdb;
    --gradient-color-3: #ff5a5e;
    --gradient-color-4: #f2c94c;
    --other--light-grey: #fafafa;
    --main-colors--primary: #4d6bfa;
    --other--misty-rose: #ffdede;
    --other--light-blue-bg: #f8f8fa;
    --other--link-bg-grey: #f1f1f1;
    --other--dim-grey: #c5c5c5;
    --other--bg-grey: #d4d4d4;
    --main-colors--secondary: #4353fa;
    --other--notification-bg: #001b38;
    --border-color: #333442;
    --bg-color: #151723;
    --font-size--h1-desktop-size: 85px;
    --font-size--h1-tablet-size: 55px;
    --main-colors--black: #000;
    --main-colors--white: #fff;
}

body {
    overflow-x: hidden;
}

.btn-gradiant {
    background: linear-gradient(90deg, #61a6f2, #8f6fdb 50%, #ff5a5e);
    border: none;
    padding: 0.8rem 3rem;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    /* Initial font size */
}

.icon {
    background: linear-gradient(90deg, #61a6f2, #8f6fdb 50%, #ff5a5e);
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
}

.head h1 {
    color: black;
    font-weight: 500;
}

.head p {
    color: grey;
}

.btn-dark {
    padding: 12px 18px;
    background-color: #181818;
    transition: ease-in 0.5s;
}

.btn-dark :hover {
    background-color: #f80000 !important;
}

.fs-1 {
    font-size: 70px !important;
}

@media screen and (max-width: 780px) {
    .btn-dark {
        padding: 5px 5px !important;
    }
    .head h1 {
        font-size: 35px !important;
        font-weight: 500 !important;
    }
    #main-box .h1,
    .h2 {
        font-size: 6rem !important;
    }
}

@media screen and (max-width: 822px) {
    #main-box .h1 {
        font-size: 7rem !important;
    }
    #main-box .h2 {
        font-size: 7rem !important;
    }
    .mobile .h1 {
        font-size: 5rem !important;
    }
    .mobile .h2 {
        font-size: 5rem !important;
    }
}

@media screen and (max-width: 540px) {
    #main-box .h1 {
        font-size: 4rem !important;
    }
    #main-box .h2 {
        font-size: 4rem !important;
    }
    .mobile-img {
        width: 300px !important;
        /* overflow: hidden; */
    }
    .mobile .h1 {
        font-size: 23px !important;
    }
    .mobile .h2 {
        font-size: 23px !important;
    }
    .mobile-container {
        width: 100%;
        max-width: 300px;
    }
    /* .mobile-container {
        position: relative;
    } */
}


/* --main box--- */

#main-box {
    height: 100vh;
    width: 100%;
    background-color: rgb(252, 252, 252);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    opacity: 1;
}

#main-box .h1 {
    background: linear-gradient(90deg, #61a6f2, #8f6fdb 50%, #ff5a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    font-weight: bold;
}

#main-box .h2 {
    background: linear-gradient(90deg, #61a6f2, #8f6fdb 50%, #ff5a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10rem;
    font-weight: bold;
}


/* --main box--- end*/


/* --mobile section--- */

.mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    height: 100vh;
    top: 0%;
    /* background-color: white; */
    width: 100%;
    overflow-x: hidden;
}

.mobile-img {
    width: 300px;
    overflow: hidden;
    /* overflow: hidden; */
}

.mobile-container {
    width: 100%;
    /* Full width for responsiveness */
    max-width: 300px;
    /* Max width of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.mobile-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    object-position: center;
    object-fit: cover;
    height: 87%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.mobile-cover {
    width: 80%;
    object-position: center;
    object-fit: cover;
    height: 90%;
    position: absolute;
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    overflow: hidden;
}

.mobile .h1 {
    background: linear-gradient(90deg, #ff0000, #8f6fdb 50%, #ff5a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13rem;
    /* Adjust font size as needed */
    font-weight: bold;
    /* transform: translateX(50%); */
}

.mobile .h2 {
    background: linear-gradient(90deg, #61a6f2, #8f6fdb 50%, #ff5a5e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13rem;
    /* Adjust font size as needed */
    font-weight: bold;
    /* transform: translateX(50%); */
}


/* --mobile section--- end */